.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.25%;
}

.galleryItem {
  width: 250px;
  cursor: pointer;
}

.imageItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.captionBox {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.imgA {
  width: 500px;
  height: auto;
  padding: 2.5%;
  transform: scale(1.05);
}
